@font-face {
  font-family: 'Graphik';
  src: local('Graphik Regular'), local('Graphik-Regular'),
  url('Graphik-Regular.woff2') format('woff2'),
  url('Graphik-Regular.woff') format('woff'),
  url('Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik Medium'), local('Graphik-Medium'),
  url('Graphik-Medium.woff2') format('woff2'),
  url('Graphik-Medium.woff') format('woff'),
  url('Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik Light'), local('Graphik-Light'),
  url('Graphik-Light.woff2') format('woff2'),
  url('Graphik-Light.woff') format('woff'),
  url('Graphik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: local('Graphik Bold'), local('Graphik-Bold'),
        url('Graphik-Bold.woff2') format('woff2'),
        url('Graphik-Bold.woff') format('woff'),
        url('Graphik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
